[submodule "ftplugin/phpfolding.vim"]
	path = ftplugin/phpfolding.vim
	url = https://github.com/rayburgemeestre/phpfolding.vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-easygrep"]
	path = bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = http://github.com/xolox/vim-easytags.git/
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/vim-scripts/Emmet.vim.git
[submodule "bundle/vimgutter.git"]
	path = bundle/vimgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/loremipsum"]
	path = bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
[submodule "bundle/matchtagalways"]
	path = bundle/matchtagalways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-moin"]
	path = bundle/vim-moin
	url = https://github.com/rdodesigns/vim-moin.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git/
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pdv"]
	path = bundle/pdv
	url = https://github.com/tobyS/pdv
[submodule "bundle/vim-php-namespace"]
	path = bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace
[submodule "bundle/vim-php-refactoring-toolbox"]
	path = bundle/vim-php-refactoring-toolbox
	url = https://github.com/adoy/vim-php-refactoring-toolbox.git
[submodule "bundle/php"]
	path = bundle/php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/preservenoeol"]
	path = bundle/preservenoeol
	url = https://github.com/yous/PreserveNoEOL.git
[submodule "bundle/vim-react-snippets"]
	path = bundle/vim-react-snippets
	url = https://github.com/justinj/vim-react-snippets.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git/
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabline.vim"]
	path = bundle/tabline.vim
	url = https://github.com/caipre/tabline.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-plugin-tagbar-phpctags"]
	path = bundle/vim-plugin-tagbar-phpctags
	url = https://github.com/techlivezheng/vim-plugin-tagbar-phpctags.git
[submodule "bundle/tern_for"]
	path = bundle/tern_for
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-vagrant"]
	path = bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vmustache"]
	path = bundle/vmustache
	url = https://github.com/tobyS/vmustache.git/
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "bundle/php-cs-fixer"]
	path = bundle/php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/lumiliet/vim-twig.git
[submodule "bundle/vim-completes-me"]
	path = bundle/vim-completes-me
	url = https://github.com/ajh17/VimCompletesMe
[submodule "bundle/gutentags"]
	path = bundle/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/sqlcomplete"]
	path = bundle/sqlcomplete
	url = https://github.com/vim-scripts/SQLComplete.vim.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/unikuragit/dbext.vim
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/targets"]
	path = bundle/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "bundle/textobj-indent"]
	path = bundle/textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/incsearch"]
	path = bundle/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "bundle/incsearch-easymotion"]
	path = bundle/incsearch-easymotion
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule "bundle/incsearch-fuzzy"]
	path = bundle/incsearch-fuzzy
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule "bundle/phpcd"]
	path = bundle/phpcd
	url = https://github.com/lvht/phpcd.vim.git
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "bundle/phpunit"]
	path = bundle/phpunit
	url = https://github.com/c9s/phpunit.vim.git
[submodule "bundle/vim-illuminate"]
	path = bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-styled-components"]
	path = bundle/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components.git
[submodule "bundle/yajs"]
	path = bundle/yajs
	url = https://github.com/othree/yajs.vim.git
[submodule "bundle/es.next.syntax"]
	path = bundle/es.next.syntax
	url = https://github.com/othree/es.next.syntax.vim.git
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "bundle/deoplete-ternjs"]
	path = bundle/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-textobj-chunk"]
	path = bundle/vim-textobj-chunk
	url = https://github.com/Chun-Yang/vim-textobj-chunk.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node
[submodule "bundle/yats"]
	path = bundle/yats
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "bundle/typescript-tsuquyomi"]
	path = bundle/typescript-tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/iloginow/vim-stylus
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "bundle/vim-pug-complete"]
	path = bundle/vim-pug-complete
	url = https://github.com/dNitro/vim-pug-complete.git
[submodule "bundle/vim-emoji-ab"]
	path = bundle/vim-emoji-ab
	url = https://gitlab.com/gi1242/vim-emoji-ab.git
